.btn{
    cursor:pointer;
      position:relative;
      padding:10px 10px;
      background:black;
      font-size:28px;
    
      transition:all 1s;
      &:after,&:before{
    
        content:" ";
        width:8px;
        height:8px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid white;
        border-left:5px solid white;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid white;
        border-right:5px solid white;
      }
      &:hover{
        border-top-right-radius:0px;
      border-bottom-left-radius:0px;
        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,&:after{
          
          width:100%;
          height:100%;
          // border-color:white;
        }
      }
    }
    
    .data-container{
      background:#ffebee;
      height:10vh;
      display:flex;
      justify-content:center;
      align-items:center;
    }
          
    
            body{
    
              background-color:darkslategrey;
    
            }
            ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
      
    }
    
    li {
      float: left;
      padding-right: 75px;
      font-weight: bold;
      font-size: 30px;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111111;
    }
    
    #s{
    
    color: red;
    padding-right: 300PX;
    }
    
    img{
    
      width: 300px;
     
      border-radius: 20px;
      margin-top: 120px;
      margin-left: 80px;
      max-width: 100%;
      height: auto;
    
      
    
    }
    
    div{
    
    display:inline;
    
    }
    
    
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    
    .left {
      left: 10px;
     
    }
    .right {
      right: 150px;
      top : 20px;
      
      
    }
    
    .centered {
      position: absolute;
      top: 33%;
      left: 30%;
      transform: translate(-50%, -50%);
      text-align: left;
      margin-left: 50px;
      
    }
    a:visited {
      color: rgb(248, 194, 203);
      background-color: transparent;
      text-decoration: none;
    }
    .gallery {
      --g: 8px; /* the gap */
      
      display: grid;
      clip-path: inset(1px); /* to avoid visual glitchs */
    }
    .gallery > img {
      --_p: calc(-1*var(--g));
      grid-area: 1/1;
      width: 350px; /* control the size */
      aspect-ratio: 1;
      cursor: pointer;
      transition: .4s .1s;
    }
    .gallery > img:first-child {
      clip-path: polygon(0 0, calc(100% + var(--_p)) 0 , 0 calc(100% + var(--_p)))
    }
    .gallery > img:last-child {
      clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%)
    }
    .gallery:hover > img:last-child,
    .gallery:hover > img:first-child:hover{
      --_p: calc(50% - var(--g));
    }
    .gallery:hover > img:first-child,
    .gallery:hover > img:first-child:hover + img{
      --_p: calc(-50% - var(--g));
    }
    
    .container {
                background-color: rgb(0, 6, 7);
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
            }
     
            .link {
                height: 70px;
                width: 70px;
                background-color: #caf7e3;
                border-radius: 35px;
                text-align: center;
                margin: 7px;
                line-height: 80px;
            }
     
            
     
          
    body {
      margin: 0;
      min-height: 100vh;
      display: grid;
      place-content: center;
      background: #051E3D;
    }